<!-- web.xml helps configure our application when it loads up.-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--    There are two parts to registering a servlet
        The servlet name and the servlet-mapping
        -->
<!--    This is the first servlet that actually performs user-story work-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>base.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/passwordcheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>base.servlets.WelcomeServlet</servlet-class>
        <init-param>
            <param-name>Favorite_Show</param-name>
            <param-value>The Red Green Show</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/api/welcome/*</url-pattern>
    </servlet-mapping>

</web-app>
